<!doctype html>
<html lang="en">
<body>
    <header>
        <h1>各服务组健康状况</h1>
    </header>
    <header>
        <h1>服务组1</h1>
    </header>
    <iframe src="http://192.168.253.130:5601/goto/bce2eac1b4435b3e4b67622d80b3d249" height="400" width="100%"></iframe>
    <a href="/serviceGroupDetails">服务组1各服务健康状况</a>
    <header>
        <h1>服务组2</h1>
    </header>
    <iframe src="http://192.168.253.130:5601/goto/ed5f1d5a0dc432fd385935f8dfdd63eb" height="400" width="100%"></iframe>
</body>
</html>
