<!doctype html>
<html lang="en">
<body>
    <header>
        <h1>服务器2监控</h1>
    </header>
    <div style="color:#00FF00">
        <a href="/subNetNetworkPerformance">子网X网络性能</a>
    </div>
    <div style="color:#00FF00">
        <a href="/serverNetworkPerformance">服务器2网络性能</a>
    </div>
    <iframe src="/app/kibana#/dashboard/Server2%E7%9B%91%E6%8E%A7?embed=true" height="1100" width="100%"></iframe>
    <div style="color:#00FF00">
        <a href="/serviceDetailsInSpecificServer">Go Back</a>
    </div>
</body>
</html>
