<!doctype html>
<html lang="en">
<body>
    <header>
        <h1>服务器2监控</h1>
    </header>
    <a href="/subNetNetworkPerformance">子网X网络性能</a>
    <a href="/serverNetworkPerformance">服务器2网络性能</a>
    <iframe src="/goto/530f7c665d94c30030419f44c517e6dd" height="1100" width="100%"></iframe>
</body>
</html>
