<!doctype html>
<html lang="en">
<body>
    <header>
        <h1>服务1在各服务器上运行健康状况</h1>
    </header>
    <iframe src="/goto/112890bd9cc51d76394f65576048730f" height="250" width="100%"></iframe>
    <a href="/serviceDetailsInSpecificServer">服务在单一服务器上健康状况</a>
    <iframe src="/goto/870b2d4c7e4ab51a59e506a89a2007d3" height="250" width="100%"></iframe>
</body>
</html>
