<!doctype html>
<html lang="en">
<body>
    <header>
        <h1>服务1在服务器2上运行健康状况</h1>
    </header>
    <iframe src="http://192.168.253.130:5601/goto/1f0c0426d981d005fd18182f0c953a94" height="1100" width="100%"></iframe>
    <a href="/serverMonitoring">服务器2健康状况</a>
</body>
</html>
