<!doctype html>
<html lang="en">
<body>
    <header>
        <h1>服务1在服务器2上运行健康状况</h1>
    </header>
    <iframe src="/app/kibana#/dashboard/%E6%9C%8D%E5%8A%A11%E5%9C%A8Server2%E7%9A%84%E5%81%A5%E5%BA%B7%E7%8A%B6%E5%86%B5?embed=true" height="1100" width="100%"></iframe>
    <a href="/serverMonitoring">服务器2健康状况</a>
    <div style="color:#00FF00">
        <a href="/serviceDetailsByServer">Go Back</a>
    </div>
</body>
</html>
