<!doctype html>
<html lang="en">
<body>
    <header>
        <h1>服务器2网络性能</h1>
    </header>
    <iframe src="/app/kibana#/dashboard/Server2%E7%BD%91%E7%BB%9C%E6%80%A7%E8%83%BD?embed=true" height="1100" width="100%"></iframe>
    <a href="/serverMonitoring">Go Back</a>
</body>
</html>
