<!doctype html>
<html lang="en">
<body>
    <header>
        <h1>服务组1各服务健康状况</h1>
    </header>
    <iframe src="/app/kibana#/dashboard/%E6%9C%8D%E5%8A%A11%E5%9C%A8%E6%9C%8D%E5%8A%A1%E7%BB%841?embed=true" height="250" width="100%"></iframe>
    <a href="/serviceDetailsByServer">服务1在各服务器上健康状况</a>
    <iframe src="/app/kibana#/dashboard/%E6%9C%8D%E5%8A%A12%E5%9C%A8%E6%9C%8D%E5%8A%A1%E7%BB%841?embed=true" height="250" width="100%"></iframe>
    <a href="/serviceGroup">Go Back</a>
</body>
</html>
