<!doctype html>
<html lang="en">
<body>
    <header>
        <h1>服务器2监控</h1>
    </header>
    <a href="/subNetNetworkPerformance">子网X网络性能</a>
    <a href="/serverNetworkPerformance">服务器2网络性能</a>
    <iframe src="http://192.168.253.130:5601/goto/e0912896b49d601e42afa954666d832e" height="1100" width="100%"></iframe>
</body>
</html>
