<!doctype html>
<html lang="en">
<body>
    <header>
        <h1>服务组1各服务健康状况</h1>
    </header>
    <iframe src="http://192.168.253.130:5601/goto/b71775a6ff0649ffbf551685ef4e48a6" height="250" width="100%"></iframe>
    <a href="/serviceDetailsByServer">服务1在各服务器上健康状况</a>
    <iframe src="http://192.168.253.130:5601/goto/9c901227c9973ef2245c410d4294c312" height="250" width="100%"></iframe>
</body>
</html>
