<!doctype html>
<html lang="en">
<body>
    <header>
        <h1>各服务组健康状况</h1>
    </header>
    <header>
        <h1>服务组1</h1>
    </header>
    <iframe src="/goto/c07b96a8d2a930a70ef21c4cffb3b9be" height="300" width="100%"></iframe>
    <a href="/serviceGroupDetails">服务组1各服务健康状况</a>
    <header>
        <h1>服务组2</h1>
    </header>
    <iframe src="/goto/715cedad56471bad0515ac43262cb3c8" height="300" width="100%"></iframe>
</body>
</html>
