<!doctype html>
<html lang="en">
<body>
    <header>
        <h1>服务组1各服务健康状况</h1>
    </header>
    <iframe src="/goto/6d602a0f4fcfc30a73f3000c80f0d263" height="250" width="100%"></iframe>
    <a href="/serviceDetailsByServer">服务1在各服务器上健康状况</a>
    <iframe src="/goto/93a4e0be8d16371274bb605f94bcd73d" height="250" width="100%"></iframe>
</body>
</html>
