<!doctype html>
<html lang="en">
<body>
    <header>
        <h1>服务1在服务器2上运行健康状况</h1>
    </header>
    <iframe src="/goto/9d022de7317883aab7bfdd974ab7bcd0" height="1100" width="100%"></iframe>
    <a href="/serverMonitoring">服务器2健康状况</a>
</body>
</html>
