<!doctype html>
<html lang="en">
<body>
    <header>
        <h1>服务1在各服务器上运行健康状况</h1>
    </header>
    <iframe src="/app/kibana#/dashboard/%E6%9C%8D%E5%8A%A11%E5%9C%A8Server1?embed=true" height="250" width="100%"></iframe>
    <a href="/serviceDetailsInSpecificServer">服务在单一服务器上健康状况</a>
    <iframe src="/app/kibana#/dashboard/%E6%9C%8D%E5%8A%A11%E5%9C%A8Server2?embed=true" height="250" width="100%"></iframe>
    <a href="/serviceGroupDetails">Go Back</a>
</body>
</html>
