<!doctype html>
<html lang="en">
<body>
    <header>
        <h1>各服务组健康状况</h1>
    </header>
    <header>
        <h1>服务组1</h1>
    </header>
    <iframe src="app/kibana#/dashboard/%E6%9C%8D%E5%8A%A1%E7%BB%841?embed=true" height="300" width="100%"></iframe>
    <a href="/serviceGroupDetails">服务组1各服务健康状况</a>
    <header>
        <h1>服务组2</h1>
    </header>
    <iframe src="app/kibana#/dashboard/%E6%9C%8D%E5%8A%A1%E7%BB%842?embed=true" height="300" width="100%"></iframe>
    <a href="/">Go Back</a>
</body>
</html>
