<!doctype html>
<html lang="en">
<body>
    <header>
        <h1>服务器2网络性能</h1>
    </header>
    <iframe src="http://192.168.253.130:5601/goto/5c9e0be0790f6ddf12fed8667fa21165" height="1100" width="100%"></iframe>
</body>
</html>
