<!doctype html>
<html lang="en">
<body>
    <header>
        <h1>各交易应用组健康状况</h1>
    </header>
    <header>
        <h1>交易1</h1>
    </header>
    <iframe src="app/kibana#/dashboard/App1?embed=true&_g=(filters:!(),refreshInterval:(display:Off,pause:!f,value:0),time:(from:'2016-06-23T06:00:00.000Z',interval:'1m',mode:absolute,timezone:Asia%2FShanghai,to:'2016-06-23T07:00:00.000Z'))&_a=(filters:!(),options:(darkTheme:!f),panels:!((col:1,id:%E5%93%8D%E5%BA%94%E6%97%B6%E9%97%B4SLA,panelIndex:1,row:1,size_x:3,size_y:2,type:visualization),(col:4,id:%E5%8F%AF%E7%94%A8%E6%80%A7SLA,panelIndex:2,row:1,size_x:3,size_y:2,type:visualization)),query:(query_string:(analyze_wildcard:!t,query:'*')),title:App1,uiState:(P-1:(vis:(legendOpen:!f)),P-2:(vis:(legendOpen:!f))))" height="300" width="80%"></iframe>
    <a href="/applicationOverview">应用1在各Server概览</a>
    <iframe src="app/kibana#/dashboard/App2?embed=true&_g=(filters:!(),refreshInterval:(display:Off,pause:!f,value:0),time:(from:'2016-06-23T06:00:00.000Z',interval:'1m',mode:absolute,timezone:Asia%2FShanghai,to:'2016-06-23T07:00:00.000Z'))&_a=(filters:!(),options:(darkTheme:!f),panels:!((col:1,id:%E5%93%8D%E5%BA%94%E6%97%B6%E9%97%B4SLA-%EF%BC%88Abnormal%EF%BC%89,panelIndex:1,row:1,size_x:3,size_y:2,type:visualization),(col:4,id:%E5%8F%AF%E7%94%A8%E6%80%A7SLA-nor,panelIndex:2,row:1,size_x:3,size_y:2,type:visualization)),query:(query_string:(analyze_wildcard:!t,query:'*')),title:App2,uiState:(P-1:(vis:(legendOpen:!f))))" height="300" width="80%"></iframe>
    <a href="/applicationOverview">应用2在各Server概览</a>
    <header>
        <h1>交易2</h1>
    </header>
    <iframe src="app/kibana#/dashboard/App2?embed=true&_g=(filters:!(),refreshInterval:(display:Off,pause:!f,value:0),time:(from:'2016-06-23T06:00:00.000Z',interval:'1m',mode:absolute,timezone:Asia%2FShanghai,to:'2016-06-23T07:00:00.000Z'))&_a=(filters:!(),options:(darkTheme:!f),panels:!((col:1,id:%E5%93%8D%E5%BA%94%E6%97%B6%E9%97%B4SLA-%EF%BC%88Abnormal%EF%BC%89,panelIndex:1,row:1,size_x:3,size_y:2,type:visualization),(col:4,id:%E5%8F%AF%E7%94%A8%E6%80%A7SLA-nor,panelIndex:2,row:1,size_x:3,size_y:2,type:visualization)),query:(query_string:(analyze_wildcard:!t,query:'*')),title:App2,uiState:(P-1:(vis:(legendOpen:!f))))" height="300" width="80%"></iframe>
    <a href="/applicationOverview">应用2在各Server概览</a>
    <iframe src="app/kibana#/dashboard/App3?embed=true&_g=(filters:!(),refreshInterval:(display:Off,pause:!f,value:0),time:(from:'2016-06-23T06:00:00.000Z',interval:'1m',mode:absolute,timezone:Asia%2FShanghai,to:'2016-06-23T07:00:00.000Z'))&_a=(filters:!(),options:(darkTheme:!f),panels:!((col:1,id:%E5%93%8D%E5%BA%94%E6%97%B6%E9%97%B4SLA-%EF%BC%88Abnormal%EF%BC%89,panelIndex:1,row:1,size_x:3,size_y:2,type:visualization),(col:4,id:%E5%8F%AF%E7%94%A8%E6%80%A7SLA-nor,panelIndex:2,row:1,size_x:3,size_y:2,type:visualization)),query:(query_string:(analyze_wildcard:!t,query:'*')),title:App3,uiState:(P-1:(vis:(legendOpen:!f))))" height="300" width="80%"></iframe>
    <a href="/applicationOverview">应用3在各Server概览</a>
    <div>
      <a href="/">Go Back</a>
    </div>
</body>
</html>
